{{#if user}}
  <p> You are logged in as {{user.username}}! </p>
{{/if}}
<h2> Here is the History page! (This table needs to be filled in dynamically using hbs)</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>01/01</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>01/02</td>
    <td>94</td>
  </tr>
</table>
