extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout

  br
  a(href="/questions") Answer questions
  br
  a(href="/history") History
  br
  a(href="/admin") Admin (Admin only)
  br
  a(href="/historyAdmin") Admin History (Admin only)